.test-form-wrapper {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 700px;
  height: 500px;
  background: #fff;
  box-shadow: 0 2px 20px rgba(21, 20, 53, 0.4);
}

.test-form {

  width: 500px;
}

.test-form__task label {

  font-size: 30px;
}

.test-form__task .ant-form-item-control-input-content {

  font-size: 15px;
  font-style: italic;
}

.test-form__title {

  margin-bottom: 30px !important;
  text-align: center;
  font-size: 28px !important;
}

.test-form .ant-form-item {
  font-size: 25px;
}

.test-form .test-form__button {

  margin-top: 20px !important;
  height: 40px;
  border-radius: 10px;
  width: 150px;
  margin: 0 calc((500px - 150px) / 2);
}